a {
    color: aquamarine;
    font-family: "Montserrat", sans-serif;
}
ul li:nth-child(1) a {
    color: red;
  }
p a:nth-child(1) {
    color: red;
}
button {
    background-color: aquamarine;
}
h3 {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-family: "Montserrat", sans-serif;
}
section p:nth-child(1) {
    font-family: "Kaushan Script", sans-serif;
    
}
section p:nth-child(3) {
    font-family: "Roboto", sans-serif;
    
}
