/* Общие стили */
a {
    color: aquamarine;
    font-family: "Montserrat", sans-serif;
  }
  ul li:nth-child(1) a {
    color: red;
  }
  p a:nth-child(1) {
    color: red;
  }
  button {
    background-color: aquamarine;
  }
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }
  section p:nth-child(1) {
    font-family: "Kaushan Script", sans-serif;
  }
  section p:nth-child(3) {
    font-family: "Roboto", sans-serif;
  }
  body {
    margin-left: 360px;
    margin-right: 360px;
  }
  
  /* Header */
  .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 80px;
  }
  
  .navs-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .logos {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: aquamarine;
  }
  
  .navs-link {
    text-decoration: none;
    color: aquamarine;
    font-size: 16px;
  }
  .navs-link:hover {
    text-decoration: underline;
  }
  
  /* Main: Services */
  .services-intro,
  .services-title {
    text-align: center;
  }
  .services-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    list-style: none;
  }
  .services-item {
    list-style: none;
  }
  .services_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services-card-image {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
  .services-card-title {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  .services-card-description {
    margin-top: 5px;
    font-size: 1rem;
    max-width: 250px;
  }
  
  /* Team */
  .team-intro,
  .team-title {
    text-align: center;
  }
  .team-description {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
  }
  .team-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 80px;
  }
  .team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .team-name {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .team-role {
    margin-top: 5px;
    font-size: 1rem;
  }
  
  /* Footer */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-text {
    font-family: "Roboto", sans-serif;
  }
  .footer-link {
    color: aquamarine;
    text-decoration: none;
  }
  .footer-form {
    display: flex;
  }
  .footer-input {
    padding: 10px;
    border: 1px solid #ccc;
  }
  .footer-button {
    padding: 10px;
    background-color: aquamarine;
    border: none;
    cursor: pointer;
  }
  